<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.course.mapper.StudentMapper">

	<select id="findAll" resultType="com.course.vo.StudentVo">
		SELECT * FROM student
	</select>
	
	<select id="findByNameLike" resultType="com.course.vo.StudentVo">
		SELECT * FROM student WHERE name like #{name}	
	</select>
	
	<insert id="addStudent" parameterType="com.course.vo.StudentVo">
		INSERT INTO student (id, name, sex, birthday) 
		VALUES(STUDENT_SEQ.NEXTVAL, #{name}, #{sex}, #{birthday})
	</insert>

	<update id="updateStudent" parameterType="com.course.vo.StudentVo">
		UPDATE student SET name=#{name}, sex=#{sex}, birthday=#{birthday} WHERE id=#{id}
	</update>
	
	<delete id="deleteStudent">
		DELETE FROM student WHERE id=#{id}
	</delete>
	
	<!-- 動態查詢 -->
	<select id="findByIf" resultType="com.course.vo.StudentVo">
		SELECT * FROM student 
		WHERE name LIKE #{name}
	  	<if test="sex != null and sex !='' ">
		    AND sex = #{sex}
	  	</if>
	</select>
	
	<select id="findByChoose" resultType="com.course.vo.StudentVo">
		SELECT * FROM student 
		WHERE id IS NOT NULL 
		<choose>
			<when test="name != null and name !='' ">
				AND name like #{name}
			</when>
			
			<when test="sex != null and sex != '' ">
				AND sex = #{sex}
			</when>
			<otherwise>
				AND name = '福利蓮'
			</otherwise>
		</choose>
	</select>
	
	<select id="findByWhere" resultType="com.course.vo.StudentVo">
		SELECT * FROM student 
		<where>
			<if test="name != null and name !='' ">
				AND name like #{name}
			</if>
		  	<if test="sex != null and sex !='' ">
			    AND sex = #{sex}
		  	</if>
		</where>
	</select>
	
	<select id="findByNames" resultType="com.course.vo.StudentVo">
		SELECT * FROM student
		<where>
			<foreach collection="names" item="name" open="NAME in (" separator="," close=")" >
				#{name}
			</foreach>
		</where>
	</select>
	
	<update id="updateStudentByCondition" parameterType="com.course.vo.StudentVo">
		UPDATE student 
		<set>
			<if test="name != null and name !='' ">name = #{name},</if>
			<if test="sex != null and sex !='' ">sex = #{sex},</if>
			<if test="birthday != null ">birthday = #{birthday},</if>
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>